.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.about-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.about-nametag-group {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.about-nametag-group span {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bolder;
    border-radius: 6px;
    padding: 4px 8px;
}

.about-nametag-group span p {
    font-size: 0.875rem;
    margin-block: 0;
}

.about-description {
    font-size: 1.2rem;
    margin: 5px;
    color: #666666;
}

.about-description p {
    margin-block: 5px;
}

.about-tags {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.about-tags-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    padding: 10px;
    max-width: 400px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.about-tags-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 5px 2px;
}

.about-tags-group span {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(200, 200, 200, 0.2);
    padding: 5px 7px;
    border-radius: 6px;
}

.about-tags-group span p {
    font-size: 0.9rem;
    margin: 0 4px;
    margin-block: 0;
    color: white;
}

.about-tags-group span svg {
    width: 16px;
    height: 16px;
    margin: 2px 4px;
    filter: grayscale(100%) brightness(0) invert(1);
}

/* 主题样式 */
body[data-theme="light"] .about-nametag-group,
body[data-theme="light"] .about-tags-wrapper {
    background-color: rgba(17, 17, 17, 0.16);
}

body[data-theme="dark"] .about-nametag-group,
body[data-theme="dark"] .about-tags-wrapper {
    background-color: rgba(255, 255, 255, 0.05);
}

body[data-theme="light"] .about-nametag-group span,
body[data-theme="light"] .about-tags-group span {
    color: black;
    background-color: rgba(152, 152, 152, 0.35);
}

body[data-theme="dark"] .about-nametag-group span,
body[data-theme="dark"] .about-tags-group span {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

body[data-theme="light"] .about-tags-group span p {
    color: black;
}

body[data-theme="dark"] .about-tags-group span p {
    color: white;
}

body[data-theme="light"] .about-tags-group span svg {
    filter: grayscale(0%) brightness(0) invert(0); /* 白色主题时，图标为黑色 */
}

body[data-theme="dark"] .about-tags-group span svg {
    filter: grayscale(100%) brightness(0) invert(1); /* 深色主题时，图标为亮色 */
}
