
/* 社交图标容器 */
.social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
  
/* 图标样式 */
.social-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 10px;
    transition: transform 0.3s;
}
  
.social-icon svg {
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(0) invert(1);
}

.social-icon:hover {
    transform: scale(1.2);
}

body[data-theme="light"] .social-container .social-icon svg {
    filter: grayscale(0%) brightness(0) invert(0); /* 白色主题时，图标为黑色 */
}

body[data-theme="dark"] .social-container .social-icon svg {
    filter: grayscale(100%) brightness(0) invert(1); /* 深色主题时，图标为亮色 */
}
